*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  background: #EEEAE4;
}
.links{
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  /* display: none; */
  margin:1rem;
  width: 5px;
  

 
}

/* Track */
::-webkit-scrollbar-track {
  margin:2rem;
  background: transparent;
 
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B5C2BE;
  border-radius: 20px;
  margin-right:10rem;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003221;
}